.client{
    background-color: rgba(240, 246, 255, 1);
    padding-top: 10px;
    text-align: center;
    padding-bottom: 50px;
}

.client-group {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* gap: 10px; */
}