@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.reason{
    background-color: rgba(81, 147, 244, 1);
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 20px;
}

.reason h3 {
    color: rgba(255, 186, 109, 1);
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Montserrat';
    text-align: center;
    padding-top: 105px;
}

.reason p {
    color: white;
    text-align: center;
}

.man {
    position: absolute;
    bottom: 0;
    /* width: 50vh; */
    height: 50vh;
}

.sitting {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}

.reasonBody {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.list li {
    color: white;
    margin-top: 40px;
    align-items: center;
    text-align: center;
}

#sec li {
    margin-left: 120px;
}

/* #arrow { */
    /* margin-left: 50px; */
    /* position: absolute;
    top: 40%;
    left: 20%; */
/* } */

/* #arrow2 { */
    /* margin-left: 80px; */
    /* margin-top: 0px; */
    /* position: absolute;
    top: 66%;
    left: 24%; */
/* } */

/* #arrow3 {
    margin-left: 60px;
    margin-top: 0px;
    transform: rotate(20deg); */
    /* position: absolute;
    top: 88%;
    left: 17%; */
/* } */

/* #arrow4{
    margin-right: 100px;
    margin-top: 0px;
} */

/* #arrow5{
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
} */

/* #arrow6{
    margin-top: 10px;
    transform: rotate(-50deg); */
    /* margin-right: 20px; */
/* } */

@media screen and (max-width: 700px) {
    .list img {
        display: none;
    }

    .man {
        width: 300px;
    }

    .reason {
        height: 60vh;
    }
}

@media screen and (max-width: 480px) {
    .man {
        display: none;
    }

    .reasonBody {
        display: block;
        text-align: center;
    }

    .reason p {
        font-size: 26px;
    }

    .reasonBody li {
        list-style: none;
        font-size: 20px;
    }

    #sec li {
        margin-left: 0px;
    }
}

@media screen and (max-width: 360px) {
    .reason h3 {
        padding-top: 0px;
    }
}